.card {
  background-color: #fff;
  display: flex;
  margin: 32px auto;
  padding: 32px;
  width: 60%;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.35);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.35);
}
.card-content {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}
.card-title {
  font-weight: bold;
  margin-bottom: 16px;
}
.card-description {
  color: gray;
}
.logo {
  align-self: center;
  font-size: 64px;
}
.form-group {
  margin-top: 16px;
}
hr {
  
}